.airplane1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.airplane1 img {
  position: absolute;
  top: -350px;
  margin-right: 100px;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

.airplane2 {
  position: relative;
  -webkit-transform: translateY(-150px);
          transform: translateY(-150px);
  z-index: 1;
}

.airplane2 img {
  position: absolute;
  top: -50px;
  left: 400px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@-webkit-keyframes airplane2 {
  0% {
    -webkit-transform: translateX(-25px) translateY(60px) rotate(-30deg);
            transform: translateX(-25px) translateY(60px) rotate(-30deg);
  }
  10% {
    -webkit-transform: translateX(-50px) translateY(135px) rotate(-80deg);
            transform: translateX(-50px) translateY(135px) rotate(-80deg);
  }
  20% {
    -webkit-transform: translateX(-25px) translateY(215px) rotate(-130deg);
            transform: translateX(-25px) translateY(215px) rotate(-130deg);
  }
  30% {
    -webkit-transform: translateX(70px) translateY(280px) rotate(-150deg);
            transform: translateX(70px) translateY(280px) rotate(-150deg);
  }
  40% {
    -webkit-transform: translateX(190px) translateY(405px) rotate(-180deg);
            transform: translateX(190px) translateY(405px) rotate(-180deg);
  }
  50% {
    -webkit-transform: translateX(340px) translateY(388px) rotate(-195deg);
            transform: translateX(340px) translateY(388px) rotate(-195deg);
  }
  60% {
    -webkit-transform: translateX(560px) translateY(370px) rotate(-205deg);
            transform: translateX(560px) translateY(370px) rotate(-205deg);
  }
  70% {
    -webkit-transform: translateX(790px) translateY(355px) rotate(-205deg);
            transform: translateX(790px) translateY(355px) rotate(-205deg);
  }
  80% {
    -webkit-transform: translateX(975px) translateY(305px) rotate(-200deg);
            transform: translateX(975px) translateY(305px) rotate(-200deg);
  }
  90% {
    -webkit-transform: translateX(1190px) translateY(240px) rotate(-150deg);
            transform: translateX(1190px) translateY(240px) rotate(-150deg);
  }
  100% {
    -webkit-transform: translateX(1235px) translateY(400px) rotate(-55deg);
            transform: translateX(1235px) translateY(400px) rotate(-55deg);
  }
}

@keyframes airplane2 {
  0% {
    -webkit-transform: translateX(-25px) translateY(60px) rotate(-30deg);
            transform: translateX(-25px) translateY(60px) rotate(-30deg);
  }
  10% {
    -webkit-transform: translateX(-50px) translateY(135px) rotate(-80deg);
            transform: translateX(-50px) translateY(135px) rotate(-80deg);
  }
  20% {
    -webkit-transform: translateX(-25px) translateY(215px) rotate(-130deg);
            transform: translateX(-25px) translateY(215px) rotate(-130deg);
  }
  30% {
    -webkit-transform: translateX(70px) translateY(280px) rotate(-150deg);
            transform: translateX(70px) translateY(280px) rotate(-150deg);
  }
  40% {
    -webkit-transform: translateX(190px) translateY(405px) rotate(-180deg);
            transform: translateX(190px) translateY(405px) rotate(-180deg);
  }
  50% {
    -webkit-transform: translateX(340px) translateY(388px) rotate(-195deg);
            transform: translateX(340px) translateY(388px) rotate(-195deg);
  }
  60% {
    -webkit-transform: translateX(560px) translateY(370px) rotate(-205deg);
            transform: translateX(560px) translateY(370px) rotate(-205deg);
  }
  70% {
    -webkit-transform: translateX(790px) translateY(355px) rotate(-205deg);
            transform: translateX(790px) translateY(355px) rotate(-205deg);
  }
  80% {
    -webkit-transform: translateX(975px) translateY(305px) rotate(-200deg);
            transform: translateX(975px) translateY(305px) rotate(-200deg);
  }
  90% {
    -webkit-transform: translateX(1190px) translateY(240px) rotate(-150deg);
            transform: translateX(1190px) translateY(240px) rotate(-150deg);
  }
  100% {
    -webkit-transform: translateX(1235px) translateY(400px) rotate(-55deg);
            transform: translateX(1235px) translateY(400px) rotate(-55deg);
  }
}

@media (max-width: 1024px) {
  .airplane1 {
    display: none;
  }
  .airplane1 img {
    display: none;
  }
}
