.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
  position: relative;
}

.comments__title {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 44px;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
}

.comment__iconleft,
.comment__iconright {
  position: absolute;
}

.comment__iconleft {
  left: 200px;
  bottom: 100px;
}

.comment__iconright {
  right: 200px;
  top: 200px;
}

.slider__container {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  background: url(../../assets/images/macbook.png);
  background-position: center;
  background-size: cover;
  height: 675px;
}

.slider {
  width: 671px;
  padding: 0px 115px;
}

.commentSwiper {
  padding-bottom: 220px !important;
}

.commentSwiper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  height: 420px;
  margin-top: 30px;
}

.commentSwiper .swiper-button-next,
.commentSwiper .swiper-button-prev {
  top: auto;
  bottom: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#03F5FF), to(#02B6EB));
  background: linear-gradient(180deg, #03F5FF 0%, #02B6EB 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 14px;
}

.commentSwiper .swiper-button-next:after,
.commentSwiper .swiper-rtl .swiper-button-prev:after,
.commentSwiper .swiper-button-prev:after,
.commentSwiper .swiper-rtl .swiper-button-next:after {
  font-size: 18px;
  color: white;
}

.commentSwiper .swiper-button-prev,
.commentSwiper .swiper-rtl .swiper-button-next {
  left: 42%;
}

.commentSwiper .swiper-button-next,
.commentSwiper .swiper-rtl .swiper-button-prev {
  right: 42%;
}

.comment {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.slider__title {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #0254eb;
  margin-bottom: 20px;
  max-height: 100px;
  height: 100px;
  overflow: hidden;
}

.slider__title::first-letter {
  text-transform: uppercase;
}

.slider__comment {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 28px;
  color: #333333;
  max-height: 180px;
  height: 180px;
  overflow: hidden;
  text-align: center;
}

.slider__comment::first-letter {
  text-transform: uppercase;
}

.slider__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.slider__user img {
  border-radius: 50px;
  border: 1px solid #0254eb;
  padding: 7px;
  margin-left: 10px;
}

.slider__user p {
  margin-right: 5px;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #333333;
}

@media (max-width: 1440px) {
  .comment__iconleft {
    left: 100px;
  }
  .comment__iconright {
    right: 100px;
  }
}

@media (max-width: 1024px) {
  .comment__iconleft {
    display: none;
  }
  .comment__iconright {
    display: none;
  }
}

@media (max-width: 1000px) {
  .slider__container {
    background: none;
    height: auto;
    max-width: calc(100% - 100px);
  }
  .slider {
    width: 100%;
    padding: 0;
  }
  .commentSwiper {
    padding: 0px 50px 75px 50px !important;
  }
  .commentSwiper .swiper-slide {
    border-radius: 15px;
    height: auto;
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .slider__container {
    max-width: calc(100% - 60px);
  }
  .slider__title {
    font-size: 24px;
  }
  .slider__comment {
    font-size: 18px;
  }
  .slider__user p {
    font-size: 18px;
  }
  .comment__iconleft,
  .comment__iconright {
    display: none;
  }
}

@media (max-width: 560px) {
  .commentSwiper .swiper-button-prev,
  .commentSwiper .swiper-rtl .swiper-button-next {
    left: 35%;
  }
  .commentSwiper .swiper-button-next,
  .commentSwiper .swiper-rtl .swiper-button-prev {
    right: 35%;
  }
}

@media (max-width: 425px) {
  .slider__container {
    max-width: 100%;
  }
  .comment {
    padding: 15px;
  }
  .commentSwiper {
    padding: 0px 5px 75px 5px !important;
  }
  .slider__user {
    margin-top: 10px;
  }
}
