.dark__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding-top: 180px;
}

.about__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 265px;
  position: relative;
  width: 100%;
  margin-bottom: 50px;
}

.info__content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 280px;
  padding: 5px;
}

.info__content div span {
  z-index: 1;
  margin-left: 45px;
}

.info__content svg {
  position: absolute;
  left: 0;
  margin-top: 10px;
  -webkit-transform: rotate(55deg);
          transform: rotate(55deg);
  width: 150px;
  height: 150px;
}

.info__content svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
  stroke-dasharray: 440px;
  stroke-dashoffset: 140px;
}

.info__content .content__1 {
  -webkit-transform: translateY(90px) translateX(220px);
          transform: translateY(90px) translateX(220px);
}

.info__content .content__2 {
  -webkit-transform: translateY(90px) translateX(-160px);
          transform: translateY(90px) translateX(-160px);
}

.about__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}
