@import url("https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap");
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1920px;
  width: 100%;
  background: #33106C;
  padding: 60px 200px;
  z-index: 99900;
}

.footer__left p {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 300;
  font-size: 18.3028px;
  line-height: 23px;
  max-width: 230px;
  color: #ffffffc7;
  margin-top: 10px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
}

.footer__center {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 0 100px;
}

.footer__center a {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
  margin: 15px 0;
  max-width: 235px;
}

.footer__right p {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  font-size: 36.2951px;
  line-height: 42px;
  color: #FFFFFF;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  margin-left: 5px;
}

.footer__right form {
  background: #FFFFFF;
  border-radius: 10px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__right form button {
  width: 150px;
  height: 55px;
  background: -webkit-gradient(linear, left top, left bottom, from(#03F5FF), to(#02B6EB));
  background: linear-gradient(180deg, #03F5FF 0%, #02B6EB 100%);
  border-radius: 10px;
  border: none;
  outline: none;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.footer__right form input {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  height: 30px;
  border: none;
  outline: none;
  background: none;
  padding-left: 10px;
  width: 150px;
}

.dc__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__sets {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 1440px) {
  .footer {
    padding: 60px 100px;
  }
}

@media (max-width: 1128px) {
  .footer {
    padding: 50px;
  }
}

@media (max-width: 1024px) {
  .footer__left p {
    font-size: 15px;
  }
  .footer__center {
    margin-left: 20px;
    grid-gap: 0 30px;
  }
  .footer__center a {
    font-size: 18px;
  }
}

@media (max-width: 900px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__left p {
    margin-left: 30px;
  }
  .footer__center {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    margin: 20px 0;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 30px;
  }
}

@media (max-width: 650px) {
  .footer__center {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .footer__center a {
    text-align: center;
  }
  .footer {
    margin-top: 50px;
  }
}

@media (max-width: 425px) {
  .footer__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__left p {
    margin: 20px 0 0 0;
    text-align: center;
  }
  .footer__center {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .social__sets a {
    margin: 0 10px;
  }
}

@media (max-width: 320px) {
  .footer {
    padding: 0;
  }
  .footer__right form button {
    width: 140px;
    font-size: 14px;
  }
}
