.gifts {
  margin: 0 auto;
  -webkit-filter: drop-shadow(0px 24.8494px 49.6988px rgba(132, 59, 254, 0.2));
          filter: drop-shadow(0px 24.8494px 49.6988px rgba(132, 59, 254, 0.2));
  padding-top: 300px;
  padding-bottom: 90px;
  max-width: 1440px;
}

.gifts .gift__swiper {
  max-width: 768px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gifts .gift__swiper img {
  max-width: 768px;
  border-radius: 16px;
  width: 96%;
}

.gifts .carousel-root {
  max-width: 1440px;
  margin-top: 50px;
}

.gifts .thumbs {
  padding: 30px 10px;
  border: 2px solid #03F5FF;
  border-radius: 10px;
}

.gifts .thumb img {
  border-radius: 5px;
}

.gifts .carousel .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gifts .carousel .thumbs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gifts .carousel .control-prev.control-arrow {
  left: 16%;
}

.gifts .carousel .control-next.control-arrow {
  right: 16%;
}

.gifts .thumbs-wrapper .control-arrow {
  display: none !important;
}

.gifts .carousel-status, .gifts .control-dots {
  display: none;
}

.gifts .control-arrow {
  display: block !important;
  opacity: 1 !important;
}

.gifts .control-arrow:hover {
  background: none !important;
}

.gifts .carousel .control-arrow:before, .gifts .carousel.carousel-slider .control-arrow:before {
  font-family: swiper-icons;
  background: -webkit-gradient(linear, left top, left bottom, from(#03F5FF), to(#02B6EB));
  background: linear-gradient(180deg, #03F5FF 0%, #02B6EB 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 14px;
}

.gifts .carousel .control-prev.control-arrow:before {
  content: "prev" !important;
  border: none !important;
}

.gifts .carousel .control-next.control-arrow:before {
  content: "next" !important;
  border: none !important;
}

.gifts .carousel .thumb.selected, .gifts .carousel .thumb:hover, .gifts .carousel .thumb {
  border: none;
}

.gifts .carousel .selected {
  -webkit-filter: drop-shadow(0px 24.8494px 49.6988px rgba(132, 59, 254, 0.2));
          filter: drop-shadow(0px 24.8494px 49.6988px rgba(132, 59, 254, 0.2));
}

.gifts__thumbs {
  max-width: 1520px;
  margin: 0 auto;
}

.gift__swiper2 img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.gifts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.gifts__title {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 44px;
  text-align: center;
  color: #000000;
  padding-bottom: 30px;
}

.gifts__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  max-width: 1440px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

.gifts__left img {
  width: 100%;
}

.gr_items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gr_items p {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  text-align: left;
  color: #333333;
  padding: 60px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gr_items span {
  position: absolute;
  left: 0;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 115.244px;
  line-height: 144px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#03F5FF), to(#02B6EB));
  background: linear-gradient(180deg, #03F5FF 0%, #02B6EB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  opacity: 0.3;
}

.gr_items a {
  width: 230px;
  height: 64px;
  background: -webkit-gradient(linear, left top, left bottom, from(#03F5FF), to(#02B6EB));
  background: linear-gradient(180deg, #03F5FF 0%, #02B6EB 100%);
  -webkit-box-shadow: 0px 8.02752px 16.055px rgba(93, 95, 239, 0.2);
          box-shadow: 0px 8.02752px 16.055px rgba(93, 95, 239, 0.2);
  border-radius: 8.02752px;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  color: #FFFFFF;
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.gr_items a:hover {
  -webkit-transform: scale(1.02) !important;
          transform: scale(1.02) !important;
}

@media (max-width: 1440px) {
  .gifts {
    max-width: 100%;
  }
}

@media (max-width: 1300px) {
  .gifts .carousel .control-prev.control-arrow {
    left: 10%;
  }
  .gifts .carousel .control-next.control-arrow {
    right: 10%;
  }
}

@media (max-width: 1260px) {
  .gifts__title {
    font-size: 29px;
  }
  .gr_items p {
    font-size: 20px;
    padding: 35px 0;
  }
  .gr_items a {
    width: 200px;
    height: 50px;
    font-size: 22px;
  }
}

@media (max-width: 1100px) {
  .gifts .carousel .control-prev.control-arrow {
    left: 5%;
  }
  .gifts .carousel .control-next.control-arrow {
    right: 5%;
  }
}

@media (max-width: 1024px) {
  .gifts .carousel .control-prev.control-arrow {
    left: 2%;
  }
  .gifts .carousel .control-next.control-arrow {
    right: 2%;
  }
}

@media (max-width: 1000px) {
  .gifts .carousel .control-prev.control-arrow {
    left: 0;
  }
  .gifts .carousel .control-next.control-arrow {
    right: 0;
  }
  .gifts__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 0;
  }
  .gifts__left img {
    width: 100%;
  }
  .gr_items {
    justify-items: center;
  }
  .gr_items p {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .carousel-slider {
    padding-bottom: 100px;
  }
  .control-arrow {
    top: auto !important;
    bottom: 30px !important;
  }
  .control-prev {
    left: 40% !important;
  }
  .control-next {
    right: 40% !important;
  }
  .gifts .carousel .thumbs-wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .gifts {
    padding-top: 50px;
  }
  .gift__swiper img {
    width: 99%;
  }
}

@media (max-width: 610px) {
  .gifts__title {
    font-size: 24px;
    text-align: center;
  }
  .gr_items p {
    font-size: 18px;
  }
  .gr_items a {
    width: 160px;
    height: 40px;
    font-size: 18px;
  }
}

@media (max-width: 520px) {
  .control-prev {
    left: 35% !important;
  }
  .control-next {
    right: 35% !important;
  }
}

@media (max-width: 425px) {
  .gr_items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .gr_items p {
    padding: 10px 0;
    display: block;
  }
  .gr_items span {
    font-size: 30px;
    position: relative;
    line-height: 33px;
  }
  .gifts__right {
    margin-top: 20px;
  }
  .carousel-slider {
    padding-bottom: 60px;
  }
  .control-arrow {
    bottom: 0px !important;
  }
}

@media (max-width: 320px) {
  .control-prev {
    left: 30% !important;
  }
  .control-next {
    right: 30% !important;
  }
  .gift__swiper img {
    width: auto !important;
    height: 220px !important;
  }
}
