.my-courses {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1920px;
  width: 100%;
  padding: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.my-courses h2 {
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  margin: 113px 0;
}

.my-courses h2:first-child {
  margin-bottom: 113px;
}

.Mainh2 {
  margin: 0 !important;
  margin-bottom: 60px !important;
  margin-top: 25px !important;
}

@media (max-width: 950px) {
  .my-courses {
    padding: 60px;
  }
}

.my__courses-profile-inner {
  position: fixed;
}

.my__courses-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
}

.my__courses-list {
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 40px;
  padding-top: 0px;
}

@media (max-width: 550px) {
  .my__courses-list {
    padding: 10px;
  }
}

.my-courses-analytic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2.5px solid #02B6EB;
  height: 220px;
}

.my-courses-analytic:last-child {
  border: none;
}

.my-courses-analytic div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-courses-analytic div .btn-pro {
  height: 130px;
  padding-left: 10px;
}

.my-courses-analytic div .btn-pro:hover {
  cursor: pointer;
}

.my-courses-analytic div p {
  margin-left: 29px;
  font-weight: 300;
  font-size: 28px;
  line-height: 35px;
}

.my-courses-analytic img {
  width: 106px;
  height: 106px;
  -o-object-fit: cover;
     object-fit: cover;
  outline: 6px solid #68e3f6;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.my-courses-analytic .CircularProgressbar {
  width: 200px;
}

@media (max-width: 950px) {
  .my-courses-analytic {
    height: 150px;
    border-bottom: 2px solid #02B6EB;
  }
  .my-courses-analytic img {
    width: 90px;
    height: 90px;
  }
  .my-courses-analytic p {
    font-size: 10px;
  }
  .my-courses-analytic .CircularProgressbar-text {
    font-size: 14px;
  }
  .my-courses-analytic .CircularProgressbar {
    width: 120px;
  }
}

@media (max-width: 750px) {
  .my-courses-analytic div p {
    font-size: 22px;
  }
}

@media (max-width: 600px) {
  .my-courses {
    padding: 0px;
  }
  .my-courses-analytic div img {
    width: 60px;
    height: 60px;
  }
  .my-courses-analytic div p {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .my-courses-analytic {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .my-courses-analytic div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .my-courses-analytic div p {
    margin-left: 0;
    margin-top: 10px;
    font-size: 16px;
  }
  .my-courses-analytic .CircularProgressbar {
    width: 140px;
  }
}

@media (max-width: 400px) {
  .my-courses-analytic {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 300px;
  }
  .my-courses-analytic div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .my-courses-analytic div p {
    margin-left: 0;
    margin-top: 10px;
    font-size: 16px;
  }
  .my-courses-analytic .CircularProgressbar {
    width: 140px;
  }
}

.progress-wrap {
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
}
