.online__learning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 30px;
  position: relative;
  max-width: 1920px;
  width: 100%;
}

.online__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
  z-index: 1;
}

.online__form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.online__form .online__title {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 44px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 50px;
}

.online__form .online__description {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  max-width: 500px;
  padding: 10px 0 60px 0;
}

.online__form input {
  width: 224px;
  height: 69px;
  background: #4B1C9B;
  border-radius: 10px;
  border: none;
  outline: none;
  text-align: center;
  margin: 0 15px;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

.online__form input[type=number] {
  -moz-appearance: textfield;
}

.online__form input::-webkit-outer-spin-button,
.online__form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.online__form a {
  width: 225px;
  height: 69px;
  background: -webkit-gradient(linear, left top, left bottom, from(#03F5FF), to(#02B6EB));
  background: linear-gradient(180deg, #03F5FF 0%, #02B6EB 100%);
  -webkit-box-shadow: 0px 4px 10px rgba(175, 126, 255, 0.3);
          box-shadow: 0px 4px 10px rgba(175, 126, 255, 0.3);
  border-radius: 10px;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.online__form a:hover {
  -webkit-transform: scale(1.02) !important;
          transform: scale(1.02) !important;
}

.learn1, .learn2 {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.learn1 {
  left: 0;
}

.learn2 {
  right: 0;
}

@media (max-width: 1440px) {
  .learn1, .learn2 {
    bottom: 0;
    height: 60%;
  }
  .learn1 img, .learn2 img {
    height: 100%;
  }
}

@media (max-width: 1024px) {
  .online__learning {
    overflow: hidden;
  }
  .learn1, .learn2 {
    height: 70%;
  }
  .learn1 {
    left: -15%;
  }
  .learn2 {
    right: -15%;
  }
}

@media (max-width: 1024px) {
  .learn1, .learn2 {
    display: none;
  }
}

@media (max-width: 740px) {
  .online__form div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .online__form input, .online__form a {
    margin: 15px 0;
  }
  .online__form .online__title {
    font-size: 30px;
  }
  .online__form .online__description {
    font-size: 18px;
    padding: 10px 0 40px 0;
  }
}
