.tahrirlash, .savollar {
  margin-top: 170px;
  min-height: calc(100vh - 150px);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.back__profile {
  max-width: 1100px;
  text-align: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #02B6EB;
  margin-bottom: 60px;
}

.back__profile img {
  margin-right: 30px;
}

.t_box {
  padding: 30px 50px 50px 50px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  max-width: 1000px;
  width: 100%;
}

.t_box h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 75px;
}

.t_box .edit__img {
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 50px;
  margin-bottom: 40px;
}

.t_box .img_preview {
  padding: 5px;
  background: #9CFBFF;
  border-radius: 6.35338px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 140px;
}

.t_box .img_preview img {
  border-radius: 50%;
  width: 125px;
  height: 125px;
  -webkit-filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15));
}

.t_box .img__drop {
  border: 1px dashed #02B6EB;
  border-radius: 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
}

.t_box .img__drop span {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: #808191;
}

.t_box .img__drop p {
  font-style: normal;
  font-weight: 400;
  font-size: 16.8578px;
  line-height: 21px;
  color: #FFFFFF;
  border: none;
  outline: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#03F5FF), to(#02B6EB));
  background: linear-gradient(180deg, #03F5FF 0%, #02B6EB 100%);
  border-radius: 5px;
  padding: 10px 30px;
}

.t_box .edit__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: flex-start;
}

.t_box .edit__info #standard-basic {
  width: 100%;
}

.t_box .edit__info div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 90%;
}

.t_box .edit__info ol {
  width: auto;
}

.t_box .edit__info .main {
  width: 100%;
}

.t_box .edit__info p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  color: #000000;
  margin-bottom: 20px;
  margin-top: 40px;
}

.t_box .edit__info input {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.t_box .edit__info input::-webkit-input-placeholder {
  font-size: 13px;
  color: #C9C9C9;
}

.t_box .edit__info input:-ms-input-placeholder {
  font-size: 13px;
  color: #C9C9C9;
}

.t_box .edit__info input::-ms-input-placeholder {
  font-size: 13px;
  color: #C9C9C9;
}

.t_box .edit__info input::placeholder {
  font-size: 13px;
  color: #C9C9C9;
}

.t_box [data-shrink="true"] {
  color: #FFFFFF;
}

.t_box .edit__date .MuiInputLabel-root {
  background: #FFFFFF;
  z-index: 1;
  padding-right: 15px;
}

.t_box .edit__btns {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 20px;
}

.t_box .edit__btns button {
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
  width: 170px;
  height: 56px;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
}

.t_box .edit__btns button:nth-child(1) {
  color: #02B6EB;
  background: none;
  border: 1px solid #02B6EB;
  -webkit-filter: drop-shadow(0px 5.93771px 11.8754px rgba(93, 95, 239, 0.2));
          filter: drop-shadow(0px 5.93771px 11.8754px rgba(93, 95, 239, 0.2));
}

.t_box .edit__btns button:nth-child(2) {
  border: none;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#03F5FF), to(#02B6EB));
  background: linear-gradient(180deg, #03F5FF 0%, #02B6EB 100%);
  -webkit-box-shadow: 0px 5.93771px 11.8754px rgba(93, 95, 239, 0.2);
          box-shadow: 0px 5.93771px 11.8754px rgba(93, 95, 239, 0.2);
}

.savollar .t_box h1 {
  text-align: center;
  margin-bottom: 60px;
}

.savollar .savol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.savollar .savol p {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 40px;
}

.savollar .variants {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 70%;
  justify-items: center;
  margin-bottom: 60px;
}

.savollar .variants button {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background: none;
  border: 1px solid #03F5FF;
  border-radius: 50px;
  padding: 15px 40px;
  cursor: pointer;
  position: relative;
}

.savollar .variants button:active {
  background: #02B6EB;
}

.edit__select {
  position: relative;
}

.edit__select .height_a {
  border-top: 0.8px solid #C2D0D6;
  z-index: 99999;
  height: auto !important;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  -webkit-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.09), 2px 4px 9px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.09), 2px 4px 9px rgba(0, 0, 0, 0.1);
}

.edit__select .options {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 0;
  max-height: 160px;
  overflow: hidden;
  width: 100%;
  top: 0px;
  background: #FFFFFF;
  border-radius: 0 0 6px 6px;
}

.edit__select .options input {
  display: none;
}

.edit__select .options div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
}

.edit__select .options div::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: #fff;
}

.edit__select .options div::-webkit-scrollbar {
  border-radius: 6px;
  width: 7px;
  background-color: #fff;
}

.edit__select .options div::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #02B6EB;
}

.edit__select .options p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 0;
  margin-top: 0 !important;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit__select .options p:hover {
  background: #5c7c8a25;
}

.edit__select input {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #5C7C8A;
  background: none;
  border: none;
  outline: none;
}

.edit__select input::-webkit-input-placeholder {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #5C7C8A;
}

.edit__select input:-ms-input-placeholder {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #5C7C8A;
}

.edit__select input::-ms-input-placeholder {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #5C7C8A;
}

.edit__select input::placeholder {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #5C7C8A;
}

.edit__select svg {
  z-index: 11;
}

.select__close__show {
  position: fixed !important;
  max-width: 100% !important;
  height: 100vh !important;
  background: none;
  width: 100%;
  top: 0 !important;
  left: 0 !important;
  z-index: 99999;
}

@media (max-width: 1125px) {
  .t_box {
    max-width: 768px;
  }
  .t_box .edit__info div {
    max-width: 320px;
  }
}

@media (max-width: 880px) {
  .t_box {
    max-width: 650px;
  }
  .t_box .edit__info div {
    max-width: 280px;
  }
  .back__profile img {
    margin-left: 50px;
  }
}

@media (max-width: 750px) {
  .t_box {
    padding: 30px 50px;
    width: auto;
  }
  .t_box h1 {
    font-size: 24px;
  }
  .t_box .edit__info {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .t_box .edit__info div {
    max-width: 350px;
  }
  .t_box .edit__img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .t_box .img__drop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0.1;
        -ms-flex-positive: 0.1;
            flex-grow: 0.1;
    padding: 0 10px;
  }
}

@media (max-width: 530px) {
  .back__profile {
    margin-bottom: 40px;
  }
  .t_box h1 {
    margin-bottom: 40px;
  }
  .t_box .edit__img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 10px;
  }
  .t_box .edit__info p {
    margin-bottom: 0;
  }
  .t_box .img__drop {
    border: none;
  }
  .t_box .img__drop span {
    display: none;
  }
}

@media (max-width: 450px) {
  .tahrirlash {
    margin-top: 120px;
  }
  .t_box {
    padding: 20px;
  }
  .t_box h1 {
    font-size: 18px;
  }
  .t_box .img__drop p {
    font-size: 12px;
  }
  .t_box .edit__info p {
    margin-top: 30px;
  }
  .back__profile {
    font-size: 18px;
  }
  .back__profile img {
    margin-left: 15px;
    margin-right: 15px;
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 425px) {
  .t_box .edit__info div {
    max-width: 320px;
  }
}

@media (max-width: 375px) {
  .t_box .edit__info div {
    max-width: 280px;
  }
}
