.user__menu {
  position: relative;
}

.user__menu button, .user__menu a {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #8E8E8E;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: none;
}

.user__menu button img, .user__menu a img {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  border-radius: 50%;
  border: none;
  outline: none;
  border-radius: 50%;
}

.user__menu .menu__items {
  width: 300px;
  height: 400px;
  position: absolute;
  top: 55px;
  right: 30px;
  background: #8E8E8E;
  border-radius: 6px;
  -webkit-animation: menu1 0.3s linear;
          animation: menu1 0.3s linear;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  opacity: 0;
}

.user__menu .menu__items__show {
  -webkit-animation: menu2 0.3s linear;
          animation: menu2 0.3s linear;
  opacity: 1;
}

.user__menu__show {
  background: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

@-webkit-keyframes menu1 {
  from {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
  to {
    -webkit-transform: translateY(-15px) translateX(5px);
            transform: translateY(-15px) translateX(5px);
  }
}

@keyframes menu1 {
  from {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
  to {
    -webkit-transform: translateY(-15px) translateX(5px);
            transform: translateY(-15px) translateX(5px);
  }
}

@-webkit-keyframes menu2 {
  from {
    -webkit-transform: translateY(-15px) translateX(5px);
            transform: translateY(-15px) translateX(5px);
  }
  to {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}

@keyframes menu2 {
  from {
    -webkit-transform: translateY(-15px) translateX(5px);
            transform: translateY(-15px) translateX(5px);
  }
  to {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}

@media (max-width: 1024px) {
  .user__menu {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
    width: 100%;
  }
  .user__menu button {
    margin-left: 0;
  }
  .user__menu a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .user__menu a img {
    margin-left: 0px;
    margin-bottom: 10px;
  }
  .user__menu .menu__items {
    right: -50px;
  }
}
