* {
  margin: 0;
  padding: 0;
  font-family: "Lexend";
}
#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body {
  margin: 0px;
  overflow: visible !important;
  padding-right: 0 !important;
}
body::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
  position: fixed !important;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #39f8ff 0%, #31cfff 100%);
  outline: 1px solid rgb(51, 153, 255);
  border-radius: 10px;
}
.noMatch{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 100px;
}
.noMatch img{
  width: 500px;
  height: 500px;
}
.noMatch p {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  color: #333333;  
}
.noMatch a{
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 24.5489px;
  line-height: 31px;
  color: #FFFFFF;
  background: linear-gradient(180deg, #02F5FF 0%, #01B5EA 100%);
  box-shadow: 0px 7.67152px 15.343px rgba(93, 95, 239, 0.2);
  border-radius: 7.67152px;
  padding: 10px;
  margin-top: 15px;
}
@media (max-width:1024px) {
  .noMatch{
    margin-top: 50px;
  }
}
@media (max-width:500px) {
  .noMatch img{
    width: 95%;
    height: auto;
  }
  .noMatch p {
    font-size: 30px;
  }
  .noMatch a {
    font-size: 20px;
  }
}

.MuiSelect-outlined{
  border: none !important;
  outline: none !important;
}

.css-yf8vq0-MuiSelect-nativeInput{
  border: 1px solid blue !important;
}
#myselect *{
  background-color: #ffffff;
  border: none;
  height: 40px !important;
}

.Myinp{
  height: 50px !important;
}
.css-1s2u09g-control{
  border: none !important;
  outline: none !important;

}
.css-319lph-ValueContainer{
  outline: none !important;
  border: none !important;
  padding-left: 0px !important;
}
.css-1okebmr-indicatorSeparator{
  display: none !important;

}
.css-1s2u09g-control{
  border: none !important;
  display: flex !important;

  outline: none !important;
}
.css-1pahdxg-control{
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 0px !important;
  padding: 0px !important;
    position: relative !important;
    transition: all 0.3s ease-in-out !important;
  display: flex !important;

    
}
.css-1pahdxg-control::before{
  content: '' !important;
  background: #02B8EB !important;
  display: flex !important;
  position: absolute !important;
  bottom: -0px !important;
  left: 0 !important;
  width: 100% !important;
  height: 2px !important;
  transition: all 0.3s ease-in-out !important;
}
.sc-jIsiFf .jluVhC .Myinp .css-b62m3t-container{
  border: none !important;
  outline: none !important;
  display: flex !important;
}
.css-tlfecz-indicatorContainer{
  padding-right: 0px !important;
}
.css-1gtu0rj-indicatorContainer{
  padding-right: 0px !important;
}
.css-19micn4-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background: linear-gradient(180deg, #03F5FF 0%, #02B6EB 100%) !important;

}

.alertlogin:visited{
  color: red !important;
}

.css-j204z7-MuiFormControlLabel-root{
  margin-right: -10px !important;
}


.swal2-container{
  z-index: 999999999 !important;
}
.PrivateSwitchBase-input{
  border: none !important;
  visibility: hidden !important;
}
.mui-icons{
  margin-bottom: -4px;
  margin-right: 10px;
  color: #555454;
  display: none !important;
}
















.atropos-inner{
  box-shadow: none !important;
}

.atropos-scale{
  box-shadow: none !important;
}



.carousel-root{
  /* padding: 50px; */
}