.airplane1{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  img{
    position: absolute;
    top: -350px;
    margin-right: 100px;
    transition: 0.4s linear;
  }
}
.airplane2{
  position: relative;
  transform: translateY(-150px);
  z-index: 1;
  img{
    position: absolute;
    top: -50px;
    left: 400px;
    transition: 0.3s ;
    // transform: translateX(1235px) translateY(400px) rotate(-55deg);
    // animation: airplane2 3s linear 1s;
  }
}
@keyframes airplane2 {
  0%{
    transform: translateX(-25px) translateY(60px) rotate(-30deg);
  }
  10%{
    transform: translateX(-50px) translateY(135px) rotate(-80deg);
  }
  20%{
    transform: translateX(-25px) translateY(215px) rotate(-130deg);
  }
  30%{
    transform: translateX(70px) translateY(280px) rotate(-150deg);
  }
  40%{
    transform: translateX(190px) translateY(405px) rotate(-180deg);
  }
  50%{
    transform: translateX(340px) translateY(388px) rotate(-195deg);
  }
  60%{
    transform: translateX(560px) translateY(370px) rotate(-205deg);
  }
  70%{
    transform: translateX(790px) translateY(355px) rotate(-205deg);
  }
  80%{
    transform: translateX(975px) translateY(305px) rotate(-200deg);
  }
  90%{
    transform: translateX(1190px) translateY(240px) rotate(-150deg);
  }
  100%{
    transform: translateX(1235px) translateY(400px) rotate(-55deg);
  }
}

@media (max-width:1024px) {
  .airplane1{
    display: none;
    img{
      display: none;
    }
  }
}