.comments{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  position: relative;
}
.comments__title{
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 44px;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
}
.comment__iconleft,
.comment__iconright
{
  position: absolute;
}
.comment__iconleft{
  left: 200px;
  bottom: 100px;
}
.comment__iconright{
  right: 200px;
  top: 200px;
}
.slider__container{
  max-width: 900px;
  margin: 0 auto;
  position: relative;

  background: url(../../assets/images/macbook.png);
  background-position: center;
  background-size: cover;
  height: 675px;
}
.slider{
  width: 671px;
  padding: 0px 115px;
}
.commentSwiper{
  padding-bottom: 220px !important;
  .swiper-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    height: 420px;
    margin-top: 30px;
  }
  .swiper-button-next, 
  .swiper-button-prev{
    top: auto;
    bottom: 10px;
    background: linear-gradient(180deg, #03F5FF 0%, #02B6EB 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 14px;
  }
  .swiper-button-next:after, 
  .swiper-rtl .swiper-button-prev:after,
  .swiper-button-prev:after, 
  .swiper-rtl .swiper-button-next:after{
    font-size: 18px;
    color: white;
  }
  .swiper-button-prev, 
  .swiper-rtl .swiper-button-next{
    left: 42%;
  }
  .swiper-button-next, 
  .swiper-rtl .swiper-button-prev{
    right: 42%;
  }
}
.comment{
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.slider__title{
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #0254eb;
  margin-bottom: 20px;
  max-height: 100px;
  height: 100px;
  overflow: hidden;
  &::first-letter{
    text-transform: uppercase;
  }
}
.slider__comment{
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 28px;
  color: #333333;
  max-height: 180px;
  height: 180px;
  overflow: hidden;
  text-align: center;
  &::first-letter{
    text-transform: uppercase;
  }
}
.slider__user{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  img{
    border-radius: 50px;
    border: 1px solid #0254eb;
    padding: 7px;
    margin-left: 10px;
  }
  p{
    margin-right: 5px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #333333;
  }
}
@media (max-width:1440px) {
  .comment__iconleft{
    left: 100px;
  }
  .comment__iconright{
    right: 100px;
  }
}
@media (max-width:1024px) {
  .comment__iconleft{
    display: none;
  }
  .comment__iconright{
    display: none;
  }
}
@media (max-width:1000px) {
  .slider__container{
    background: none;
    height: auto;
    max-width: calc(100% - 100px);
  }
  .slider{
    width: 100%;
    padding: 0;
  }
  .commentSwiper {
    padding: 0px 50px 75px 50px !important;
    .swiper-slide{
      border-radius: 15px;
      height: auto;
      margin-top: 0;
    }
  }
}
@media (max-width:768px) {
  .slider__container{
    max-width: calc(100% - 60px);
  }
  .slider__title{
    font-size: 24px;
  }
  .slider__comment{
    font-size: 18px;
  }
  .slider__user{
    p{
      font-size: 18px;
    }
  }
  .comment__iconleft,
  .comment__iconright
  {
    display: none;
  }
}
@media (max-width:560px) {
  .commentSwiper{
    .swiper-button-prev, 
    .swiper-rtl .swiper-button-next{
      left: 35%;
    }
    .swiper-button-next, 
    .swiper-rtl .swiper-button-prev{
      right: 35%;
    }
  }
}
@media (max-width:425px) {
  .slider__container{
    max-width: 100%;
  }
  .comment{
    padding: 15px;
  }
  .commentSwiper{
    padding: 0px 5px 75px 5px !important;
  }
  .slider__user{
    margin-top: 10px;
  }
}