.dark__about{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 180px;
}
.about__title{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info__content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 265px;
  position: relative;
  width: 100%;
  margin-bottom: 50px;
  div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 280px;
    padding: 5px;
    span{
      z-index: 1;
      margin-left: 45px;
    }
  }
  svg{
    position: absolute;
    left: 0;
    margin-top: 10px;
    transform: rotate(55deg);
    width: 150px;
    height: 150px;
    circle{
      width: 100%;
      height: 100%;
      fill: none;
      stroke-width: 10;
      transform: translate(5px, 5px);
      stroke-dasharray: 440px;
      stroke-dashoffset: 140px;
    }
  }
  .content__1{
    transform: translateY(90px) translateX(220px);
  }
  .content__2{
    transform: translateY(90px) translateX(-160px);
  }
}
.about__info{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}