.gifts{
  margin: 0 auto;
  filter: drop-shadow(0px 24.8494px 49.6988px rgba(132, 59, 254, 0.2));
  padding-top: 300px;
  padding-bottom: 90px;
  max-width: 1440px;
  .gift__swiper{
    max-width: 768px;
    display: flex;
    justify-content: center;
    img{
      max-width: 768px;
      border-radius: 16px;
      width: 96%;
    }
  }
  .carousel-root{
    max-width: 1440px;
    margin-top: 50px;
  }
  .thumbs{
    padding: 30px 10px;
    border: 2px solid #03F5FF;
    border-radius: 10px;
  }
  .thumb{
    img{
      border-radius: 5px;
    }
  }
  .carousel {
    .slide{
      display: flex;
      align-items: center;
    }
    .thumbs-wrapper{
      display: flex;
      justify-content: center;
    }
    .control-prev.control-arrow{
      left: 16%;
    }
    .control-next.control-arrow{
      right: 16%;
    }
  }
  .thumbs-wrapper{
    .control-arrow{
      display: none !important;
    }
  }
  .carousel-status, .control-dots{
    display: none;
  }
  // .carousel-slider{
  //   padding: 0 70px;
  //   display: flex;
  //   align-items: center;
  //   max-width: 750px;
  // }
  // .gift__swiper{
  //   border-radius: 16px;
  //   img{
  //     border-radius: 16px;
  //   }
  // }
  // .carousel-root{
  //   display: flex;
  //   align-items: center;
  //   flex-direction: column;
  // }
  .control-arrow{
    display: block !important;
    opacity: 1 !important;
    &:hover{
      background: none !important;
    }
  }
  .carousel .control-arrow:before, .carousel.carousel-slider .control-arrow:before {
    font-family: swiper-icons;
    background: linear-gradient(180deg, #03F5FF 0%, #02B6EB 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 14px;
  }
  // .thumbs-wrapper{
  //   .control-arrow{
  //     display: none !important;
  //   }
  // }
  .carousel .control-prev.control-arrow:before {
    content: "prev" !important;
    border: none !important;
  }
  .carousel .control-next.control-arrow:before {
    content: "next" !important;
    border: none !important;
  }
  .carousel{
    .thumb.selected, .thumb:hover, .thumb {
      border: none;
      
    }
    .selected{
      filter: drop-shadow(0px 24.8494px 49.6988px rgba(132, 59, 254, 0.2));
    }
  } 
  // .thumbs-wrapper{
  //   overflow: hidden;
  // }
}

.gifts__thumbs{
  max-width: 1520px;
  margin: 0 auto;
}
.gift__swiper2{
  img{
    width: 100%;
    height: auto;
    border-radius: 15px;
  }
}

.gifts__info{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.gifts__title{
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 44px;
  text-align: center;
  color: #000000;
  padding-bottom: 30px;
}
.gifts__block{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  max-width: 1440px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.gifts__left{
  img{
    width: 100%;
  }
}
.gr_items{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  p{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    text-align: left;
    color: #333333;
    padding: 60px 0;
    position: relative;
    display: flex;
    align-items: center;
  }
  span{
    position: absolute;
    left: 0;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 115.244px;
    line-height: 144px;
    text-align: center;
    background: linear-gradient(180deg, #03F5FF 0%, #02B6EB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    opacity: 0.3;
  }
  a{
    width: 230px;
    height: 64px;
    background: linear-gradient(180deg, #03F5FF 0%, #02B6EB 100%);
    box-shadow: 0px 8.02752px 16.055px rgba(93, 95, 239, 0.2);
    border-radius: 8.02752px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    color: #FFFFFF;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    &:hover{
      transform: scale(1.02) !important;
    }
  }
}
@media (max-width:1440px) {
  .gifts{
    max-width: 100%;
  }
}
@media (max-width:1300px) {
  .gifts{
    .carousel{
      .control-prev.control-arrow{
        left: 10%;
      }
      .control-next.control-arrow{
        right: 10%;
      }
    }
  }
}
@media (max-width:1260px) {
  .gifts__title{
    font-size: 29px;
  }
  .gr_items{
    p{
      font-size: 20px;
      padding: 35px 0;
    }
    a{
      width: 200px;
      height: 50px;
      font-size: 22px;
    }
  }
}
// @media (max-width:1024px) {
//   .carousel{
//     max-width: 100%;
//   }
// }
@media (max-width:1100px) {
  .gifts{
    .carousel{
      .control-prev.control-arrow{
        left: 5%;
      }
      .control-next.control-arrow{
        right: 5%;
      }
    }
  }
}
@media (max-width:1024px) {
  .gifts{
    .carousel{
      .control-prev.control-arrow{
        left: 2%;
      }
      .control-next.control-arrow{
        right: 2%;
      }
    }
  }
}
@media (max-width:1000px) {
  .gifts{
    .carousel{
      .control-prev.control-arrow{
        left: 0;
      }
      .control-next.control-arrow{
        right: 0;
      }
    }
  }
  .gifts__block{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    grid-gap: 0;
  }
  .gifts__left{
    img{
      width: 100%;
    }
  }
  .gr_items{
    justify-items: center;
    p{
      text-align: center;
    }
  }
}
@media (max-width:768px) {
  .carousel-slider{
    padding-bottom: 100px;
  }
  .control-arrow{
    top: auto !important;
    bottom: 30px !important;
  }
  .control-prev{
    left: 40% !important;
  }
  .control-next{
    right: 40% !important;
  }
  .gifts{
    .carousel .thumbs-wrapper {
      justify-content: flex-start;
    }
  }
  .gifts{
    padding-top: 50px;
  }
  .gift__swiper{
    img{
      width: 99%;
    }
  }
}
@media (max-width:610px) {
  .gifts__title{
    font-size: 24px;
    text-align: center;
  }
  .gr_items{
    p{
      font-size: 18px;
    }
    a {
      width: 160px;
      height: 40px;
      font-size: 18px;
    }
  }
}
@media (max-width:520px) {
  .control-prev{
    left: 35% !important;
  }
  .control-next{
    right: 35% !important;
  }
}
@media (max-width:425px) {
  .gr_items{
    grid-template-columns: 1fr ;
    p{
      padding: 10px 0;
      display: block;
    }
    span{
      font-size: 30px;
      position: relative;
      line-height: 33px;
    }
  }
  .gifts__right{
    margin-top: 20px;
  }
  .carousel-slider{
    padding-bottom: 60px;
  }
  .control-arrow{
    bottom: 0px !important;
  }
}
@media (max-width:320px) {
  .control-prev{
    left: 30% !important;
  }
  .control-next{
    right: 30% !important;
  }
  .gift__swiper{
    img{
      width:auto !important;
      height: 220px !important;
    }
  }
}