.login{
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.mui__textfield{
  width: 357px;
  height: 68px;
  background: white;
  border-radius: 128px;
  .MuiOutlinedInput-root{
    border-radius: 128px;
    
  }
  .MuiInputLabel-root{
    margin-left: 5px;
    top: 5px;
  }
  .MuiOutlinedInput-input{
    font-family: 'Lexend';
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
  }
}
@media (max-width:785px) {
  .mui__textfield{
    width: 90%;
  }
}
@media (max-width:400px) {
  .mui__textfield{
    width: 300px;
    height: 50px;
    font-size: 16px;
  }
}