.my-courses {
   margin: 0 auto;
   box-sizing: border-box;
   // margin-top: 276px;
   max-width: 1920px;
   width: 100%;
   padding: 0px 20px;
   display: flex;
   flex-direction: column;
   flex-grow: 1;

   h2 {
      font-weight: 400;
      font-size: 42px;
      line-height: 52px;
      margin: 113px 0;
      &:first-child{
         margin-bottom: 113px;
      }
   }
}
.Mainh2{
   margin: 0 !important;
   margin-bottom: 60px !important;
   margin-top: 25px !important;
}

@media (max-width: 950px){
   .my-courses{
      padding: 60px;
    }
}

.my__courses-profile-inner {
   position: fixed;
}

.my__courses-product {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   width: 100%;
}

.my__courses-list {
   box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
   padding: 40px;
   padding-top: 0px;
   @media (max-width: 550px){
      padding: 10px;
   }
   
}

.my-courses-analytic {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 2.5px solid #02B6EB;
   height: 220px;
   &:last-child{
      border: none;
   }
   div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .btn-pro{   
         height: 130px;
         padding-left: 10px;
         &:hover{
            cursor: pointer;
         }
      }
      p {
         margin-left: 29px;
         font-weight: 300;
         font-size: 28px;
         line-height: 35px;
      }
   }

   img {
      width: 106px;
      height: 106px;
      object-fit: cover;
      outline: 6px solid rgb(104, 227, 246);
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
   }
   .CircularProgressbar {
      width: 200px;
   }
   @media (max-width: 950px){
      height: 150px;
      border-bottom: 2px solid #02B6EB;


      img{
         width: 90px;
         height: 90px;
      }
      p{
         font-size: 10px;
      }
      .CircularProgressbar-text{
         font-size: 14px;
      }
      .CircularProgressbar {
         width: 120px;
      }
   }
   @media (max-width: 550px){
      // padding-left: 20px;
   }

}

@media (max-width: 750px){
 
   .my-courses-analytic{
      div{
        
         p{
            font-size: 22px;
         }
      }
   }
}

@media (max-width: 600px){
   .my-courses{
      padding: 0px;
    }
   .my-courses-analytic{
      div{
        
         img{
            width: 60px;
            height: 60px;
         }
         p{
            font-size: 20px;
         }
      }
   }
}
@media (max-width: 500px){
   
   .my-courses-analytic{
      justify-content: space-between;
      div{
        flex-direction: column;
         align-items: flex-start;
         p{
            margin-left: 0;
            margin-top: 10px;
            font-size: 16px;
         }
      }
      .CircularProgressbar {
         width: 140px;
      }
      }
   }

   

   @media (max-width: 400px){
   
      .my-courses-analytic{
         justify-content: space-between;
         align-items: center;
         flex-direction: column;
         height: 300px;
         // padding: 15px 0;
         div{
           flex-direction: column;
            align-items: center;
            p{
               margin-left: 0;
               margin-top: 10px;
               font-size: 16px;
            }
         }
         .CircularProgressbar {
            width: 140px;
         }
         }
      }
.progress-wrap {
   transform: scale(0.5);
   -webkit-transform: scale(0.5);
   -moz-transform: scale(0.5);
   -ms-transform: scale(0.5);
   -o-transform: scale(0.5);
}