@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@font-face {
  font-family: 'Constantia';
  src: url(../../assets/fonts/Constantia.ttf);
}
@mixin nav_font {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
*{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  position: fixed !important;
  top: 0;
  z-index: 10000;
  width: 100%;
  transition: 0.5s;
}
.nav__scrolled{
  background: #ffffffab;
  backdrop-filter: blur(8px);
}
.nav__fixed{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1525px;
  width: 100%;
}
.logo{
  a{  
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  p{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Constantia';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 26px;
    color: #1F4489;
    padding-top: 5px;
    text-transform: uppercase;
    span{
      font-family: 'Constantia';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 12px;
      color: #0F89C4;
      display: flex;
      align-items: center;
      &::after, &::before{
        content: "";
        width: 20px;
        height: 5px;
        background: #0F89C4;
        display: block;
        margin: 0 2px;
        clip-path: polygon(0 0, 0 100%, 100% 51%);
      }
      &::before{
        transform: rotate(180deg);
      }
    }
  }

}
#all__logo{
  width: 80px;
  height: 80px;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 0.5;
  nav, div{
    display: flex;
    align-items: center;
  }
  nav{
    a{
      @include nav_font();
      display: flex;
      align-items: center;
      justify-content: center;
      color: #333333;
      margin: 0 30px;
      padding-bottom: 7px;
    }
  }
}
.active{
  font-weight: 600 !important;
  background: linear-gradient(180deg, #03F5FF 0%, #02B6EB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  position: relative;
  &::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(180deg, #03F5FF 0%, #02B6EB 100%);
    border-radius: 10px;
  }
}
.sing__in__btn{
  @include nav_font();
  background: linear-gradient(180deg, #03F5FF 0%, #02B6EB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15));
  border-radius: 7px;
  border: 2px solid #03F5FF;
  padding: 10px 25px;
  margin-bottom: 7px;
  margin-right: 25px;
}
.sing__up__btn{
  @include nav_font();
  margin-bottom: 7px;
  padding: 12px 27px;
  color: #fff;
  background: linear-gradient(180deg, #03F5FF 0%, #02B6EB 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.burger__btn{
  display: none;
}
.nav__open__notshow{
  z-index: -1;
}
@media (max-width:1600px) {
  .nav__fixed{
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}

@media (max-width:1440px) {
  .nav__fixed{
    padding: 0 50px; 
  }
}
@media (max-width:1120px) {
  .nav{
    nav{
      a{
        margin: 0 10px;
      }
    }
  }
}
@media (max-width:1050px) {
  .nav__fixed{
    padding: 0 30px;
  }
}
@media (max-width:1024px) {
  .nav__open__show{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #33333394;
    z-index: 10000;
    transition: 0.4s linear;
  }
  .logo{
    a{
      flex-direction: row;
    }
  }
  .burger__btn{
    display: block;
  }
  .burger__open{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    outline: none;
    padding: 10px;
    position: absolute;
    top: 30px;
    right: 30px;
    border: none;
    transition: 0.6s linear;
    span{
      display: block;
      height: 3px;
      width: 30px;
      background: linear-gradient(180deg, #03F5FF 0%, #02B6EB 100%);
      margin: 3px 0;
      transition: 0.6s linear;
    }
    &:active{
      span{
        box-shadow: inset 2px 2px 6px rgba(154, 147, 140, 0.5), 1px 1px 8px rgba(255, 255, 255, 1);
      }
    }
  }
  .burger__close{
    top: 15px;
    right: 20px;
    span{
      border-radius: 11px;
      margin: 0;
      &:nth-child(1){
        transform: translateY(3px) rotate(-45deg);
      }
      &:nth-child(2){
        opacity: 0;
      }
      &:nth-child(3){
        transform: translateY(-2px) rotate(45deg);
      }
    }
  }
  .nav{
    flex-direction: column-reverse;
    position: absolute;
    justify-content: flex-end;
    top: 0;
    right: -100%;
    background: #ffffffab;
    backdrop-filter: blur(4px) !important;
    padding: 30px 50px;
    height: 100vh;
    transition: 0.5s linear;
    nav, div{
      flex-direction: column;
    }
    nav{
      a{
        margin: 10px 0;
      }
    }
  }
  .nav__open{
    right: 0;
  }
  .navbar{
    height: 100px;
  }
  .sing__in__btn, .sing__up__btn{
    margin: 10px 0 ;
  }
  
}
@media (max-width:768px) {
  .burger__btn{
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav__fixed{
    justify-content: center;
  }
}
@media (max-width:600px) {
  .logo{
    img{
      width: 80px;
      height: 80px;
    }
  }
  .burger__open{
    top: 10px;
    right: 10px;
  }
}
@media (max-width:375px) {
  .nav__fixed {
    justify-content: flex-start;
  }
}