.online__learning{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  // background: url(../../assets/images/online_bg.png);
  position: relative;
  max-width: 1920px;
  width: 100%;
}
.online__form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  z-index: 1;
  div{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .online__title{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 50px;
  }
  .online__description{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    max-width: 500px;
    padding: 10px 0 60px 0;
  }
  input{
    width: 224px;
    height: 69px;
    background: #4B1C9B;
    border-radius: 10px;
    border: none;
    outline: none;
    text-align: center;
    margin: 0 15px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  a{
    width: 225px;
    height: 69px;
    background: linear-gradient(180deg, #03F5FF 0%, #02B6EB 100%);
    box-shadow: 0px 4px 10px rgba(175, 126, 255, 0.3);
    border-radius: 10px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    transition: all 0.3s;
    &:hover{
      transform: scale(1.02) !important;
    }
  }
}
.learn1, .learn2{
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: flex-end;
}
.learn1{
  left: 0;
}
.learn2{
  right: 0;
}
@media (max-width:1440px) {
  .learn1, .learn2{
    bottom: 0;
    height: 60%;
    img{
      height: 100%;
    }
  }
}
@media (max-width:1024px) {
  .online__learning{
    overflow: hidden;
  }
  .learn1, .learn2{
    height: 70%;
  }
  .learn1{
    left: -15%;
  }
  .learn2{
    right: -15%;
  }
}
@media (max-width:1024px) {
  .learn1, .learn2{
    display: none;
  }
}
@media (max-width:740px) {
  .online__form{
    div{
      flex-direction: column;
    }
    input, a{
      margin: 15px 0;
    }
    .online__title{
      font-size: 30px;
    }
    .online__description{
      font-size: 18px;
      padding: 10px 0 40px 0;
    }
  }
}