.profile {
    width: 247px;
    height: 623px;

    img {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    p {
        margin: 50px 0;
        font-weight: 600;
        font-size: 42px;
        line-height: 52px;
    }

    .profile-phone{
        
        font-weight: 300;
        font-size: 28px;
        line-height: 35px;
        color: #8E8E8E;
    }

    .profile-nav {
        display: flex;
        flex-direction: column;
        a {
            margin-top: 20px;
            font-weight: 300;
            font-size: 28px;
            line-height: 35px;
            color: #02B6EB;
        }
    }
}


$colors: (
  fill: #a972cb,
  pulse: #ef6eae, 
  close: #ff7f82, 
  raise: #ffa260, 
  up: #e4cb58, 
  slide: #8fc866, 
  offset: #19bc8b
);

@each $button, $color in $colors {
    .#{$button} {
      --color: #{$color};
      --hover: #{adjust-hue($color, 45deg)};
    }
  }
  
  // Now every button will have different colors as set above. We get to use the same structure, only changing the custom properties.
  button {  
    color: var(--color);
    transition: 0.25s;
    
    &:hover{ 
      border-color: var(--hover);
      color: #fff;
    }
  }

.pulse:hover, 
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}