.tahrirlash, .savollar{
  margin-top: 170px;
  min-height: calc(100vh - 150px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.back__profile{
  max-width: 1100px;
  text-align: left;
  width: 100%;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #02B6EB;
  margin-bottom: 60px;
  img{
    margin-right: 30px;
  }
}
.t_box{
  padding: 30px 50px 50px 50px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  max-width: 1000px;
  width: 100%;
  h1{
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
    margin-bottom: 75px;
  }
  .edit__img{
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 50px;
    margin-bottom: 40px;
  }
  .img_preview{
    padding: 5px;
    background: #9CFBFF;
    border-radius: 6.35338px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 140px;
    img{
      border-radius: 50%;
      width: 125px;
      height: 125px;
      filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15));
    }
  }
  .img__drop{
    border: 1px dashed #02B6EB;
    border-radius: 5px;
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    // background: repeating-linear-gradient(90deg, #02B6EB , #02B6EB 10px, #fff 10px, #fff 20px);;
    span{
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 30px;
      color: #808191;
    }
    p{
      font-style: normal;
      font-weight: 400;
      font-size: 16.8578px;
      line-height: 21px;
      color: #FFFFFF;
      border: none;
      outline: none;
      background: linear-gradient(180deg, #03F5FF 0%, #02B6EB 100%);
      border-radius: 5px;
      padding: 10px 30px;
    }
  }
  .edit__info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: flex-start;
    #standard-basic{
      width: 100%;
    }
    div{
      box-sizing: border-box;
      width: 90%;
      
    } 
    ol{
      width: auto;
    }
    .main{
      width:100%;
      
      
    }
    p{
      font-style: normal;
      font-weight: 400; 
      font-size: 18px;
      line-height: 22px;
      text-align: left;
      color: #000000;
      margin-bottom: 20px;
      margin-top: 40px;
    }
    input{
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      color: #000000;
      &::placeholder{
      font-size: 13px;
      color: #C9C9C9;
      }
    }
  }
  [data-shrink="true"]{
    color: #FFFFFF;
  }
  .edit__date{
    .MuiInputLabel-root{
      background: #FFFFFF;
      z-index: 1;
      padding-right: 15px;
    }
  }
  .edit__btns{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 20px;
    button{
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 24px;
      width: 170px;
      height: 56px;
      outline: none;
      border-radius: 6px;
      cursor: pointer;
    }
    button:nth-child(1){
      color: #02B6EB;
      background: none;
      border: 1px solid #02B6EB;
      filter: drop-shadow(0px 5.93771px 11.8754px rgba(93, 95, 239, 0.2));
    }
    button:nth-child(2){
      border: none;
      color: #FFFFFF;
      background: linear-gradient(180deg, #03F5FF 0%, #02B6EB 100%);
      box-shadow: 0px 5.93771px 11.8754px rgba(93, 95, 239, 0.2);
    }
  }
}
.savollar{
  .t_box{
    h1{
      text-align: center;
      margin-bottom: 60px;
    }
  }
  .savol{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 28px;
      color: #000000;
      margin-bottom: 40px;
    }
  }
  .variants{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 70%;
    justify-items: center;
    margin-bottom: 60px;
    button{
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
      background: none;
      border: 1px solid #03F5FF;
      border-radius: 50px;
      padding: 15px 40px;
      cursor: pointer;
      position: relative;
    }
    button:active{
      background: #02B6EB;
    }
  }
}
.edit__select{
  position: relative;
  .height_a{
    border-top: 0.8px solid #C2D0D6;
    z-index: 99999;
    height: auto !important;
    transition: 0.3s linear;
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.09), 2px 4px 9px rgba(0, 0, 0, 0.1);
  }
  .options{
    transition: 0.3s linear;
    display: flex;
    height: 0;
    flex-direction: column;
    position: absolute;
    left: 0;
    max-height: 160px;
    overflow: hidden;
    width: 100%;
    top: 0px;
    background: #FFFFFF;
    border-radius: 0 0 6px 6px;
    input{
      display: none;
    }
    div{
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      &::-webkit-scrollbar-track{
        border-radius: 6px;
        background-color: #fff;
      }
      &::-webkit-scrollbar{
        border-radius: 6px;
        width: 7px;
        background-color: #fff;
      }
      &::-webkit-scrollbar-thumb{
        border-radius: 6px;
        background-color: #02B6EB;
      }
    }
    p{
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      color: #000000;
      padding-left: 20px;
      padding-bottom: 10px;
      padding-top: 10px;
      margin-bottom: 0;
      margin-top: 0 !important;
      height: 20px;
      display: flex;
      align-items: center;
      &:hover{
        background: #5c7c8a25;
      }
    }
  }
  input{
    width: 100%;
    height: 100%;
    padding: 0 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #5C7C8A;
    background: none;
    border: none;
    outline: none;
    &::placeholder{
      font-family: Raleway;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 26px;
      color: #5C7C8A;
    }
  }
  svg{
    z-index: 11;
  }
}
.select__close__show{
  position: fixed !important;
  max-width: 100% !important;
  height: 100vh !important;
  background: none;
  width: 100%;
  top: 0 !important;
  left: 0 !important;
  z-index: 99999;
}

@media (max-width:1125px) {
  .t_box{
    max-width: 768px;
    .edit__info{
      div{
        max-width: 320px;
      }
    }
  }
}
@media (max-width:880px) {
  .t_box{
    max-width: 650px;
    .edit__info{
      div{
        max-width: 280px;
      }
    }
  }
  .back__profile{
    img{
      margin-left: 50px;
    }
  }
}
@media (max-width:750px) {
  .t_box{
    padding: 30px 50px;
    width: auto;
    h1{
      font-size: 24px;
    }
    .edit__info{
      grid-template-columns: 1fr;
      div{
        max-width: 350px;
      }
    }
    .edit__img{
      justify-content: center;
    }
    .img__drop{
      flex-direction: column;
      flex-grow: 0.1;
      padding: 0 10px;
    }
  }
}
@media (max-width:530px) {
  .back__profile{
    margin-bottom: 40px;
  }
  .t_box{
    h1{
      margin-bottom: 40px;
    }
    .edit__img{
      flex-direction: column;
      grid-gap: 10px;
    }
    .edit__info{
      p{
        margin-bottom: 0;
      }
    }
    .img__drop{
      border: none;
      span{
        display: none;
      }
    }
  }
}
@media (max-width:450px) {
  .tahrirlash{
    margin-top: 120px;
  }
  .t_box{
    padding: 20px;
    h1{
      font-size: 18px;
    }
    .img__drop{
      p{
        font-size: 12px;
      }
    }
    .edit__info{
      p{
        margin-top: 30px;
      }
    }
  }
  .back__profile{
    font-size: 18px;
    img{
      margin-left: 15px;
      margin-right: 15px;
      width: 25px;
      height: 25px;
    }
  }
}
@media (max-width:425px) {
  .t_box{
    .edit__info{
      div{
        max-width: 320px;
      }
    }
  }
}
@media (max-width:375px) {
  .t_box{
    .edit__info{
      div{
        max-width: 280px;
      }
    }
  }
}