.user__menu{
  position: relative;
  button, a{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #8E8E8E;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    background: none;
    img{
      width: 40px;
      height: 40px;
      margin-left: 20px;
      border-radius: 50%;
      border: none;
      outline: none;
      border-radius: 50%;
    } 
  }
  .menu__items{
    width: 300px;
    height: 400px;
    position: absolute;
    top: 55px;
    right: 30px;
    background: #8E8E8E;
    border-radius: 6px;
    animation: menu1 0.3s linear;
    transition: 0.1s linear;
    opacity: 0;
  }
  .menu__items__show{
    animation: menu2 0.3s linear;
    opacity: 1;
  }
}
.user__menu__show{
  background: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
@keyframes menu1 {
  from{
    transform: translateY(0) translateX(0);
  }
  to{
    transform: translateY(-15px) translateX(5px);
  }
}
@keyframes menu2 {
  from{
    transform: translateY(-15px) translateX(5px);
  }
  to{
    transform: translateY(0) translateX(0);
  }
}

@media (max-width:1024px) {
  .user__menu{
    flex-direction: column-reverse !important;
    width: 100%;
    button{
      margin-left: 0;
    }
    a{
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      img{
        margin-left: 0px;
        margin-bottom: 10px;
      }
    }
    .menu__items{
      right: -50px;
    }
  }
}