.video__cource{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  h1{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 58px;
    text-align: center;
    color: #333333;
    max-width: 800px;
  }
  p{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 44px;
    text-align: center;
    color: #333333;
    max-width: 1024px;
    margin-top: 20px;
  }
}
.video__box{
  max-width: 1024px;
  position: relative;
  padding: 150px;
  .video{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    box-shadow: 0px 0px 50px rgba(177, 49, 221, 0.3);
    border-radius: 20px;
    max-width: 800px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    video{
      border-radius: 20px;
      background: none;
      z-index: 10;
    }
  }
  .react__player{
    div{
      border-radius: 20px;
    }
  }
}
.play__btn{
  background: rgba(132, 59, 254, 0.3);
  outline: none;
  border: none;
  padding: 30px;
  border-radius: 50%;
  cursor: pointer;
  img{
    cursor: pointer;
  }
  transition: all 0.2s linear;
  &:hover{
    transform: scale(1.05);
  }
}
.icon__handsfree, .icon__youtube, .icon__html,
.icon__css, .icon__php,.icon__doc{
  position: absolute;
}
.icon__html,.icon__css,
.icon__doc,.icon__php{
  // transition: all 0.5s linear;
  // &:hover{
  //   transform: scale(var(--i));
  // }
  animation: icons 10s linear infinite;
  animation-delay: calc(-1s + car(--i));
}
@keyframes icons {
  0%,100%{
    transform: translateY(-10px) scale(1.02);
  }
  50%{
    transform: translateX(10px) scale(1);
  }
}
.icon__handsfree{
  bottom: 0;
  left: 0;
}
.icon__youtube{
  top: 50%;
  right: 0;
}
.icon__html{
  bottom: 50px;
  left: 0;
}
.icon__css{
  bottom: 100px;
  right: 0;
}
.icon__doc{
  top: 60px;
  left: 0;
}
.icon__php{
  top: 30px;
  right: 0;
}

@media (max-width:1024px) {
  .icon__html,.icon__css,
  .icon__doc,.icon__php{
    display: none;
  }
}
@media (max-width:800px) {
  .video__box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .video{
      width: calc(100% - 60px);
    }
  }
}
@media (max-width:768px) {
  .video__cource{
    h1{
      font-size: 36px;
    }
    p{
      font-size: 26px;
    }
  }
  .video__box{
    padding: 100px 0 100px 0;
  }
}
@media (max-width:425px) {
  .video__box{
    .video{
      width: calc(100% - 20px);
    }
    .react__player{
      height: 300px !important;
    }
  }
  .video__cource{
    h1{
      font-size: 33px;
    }
    p{
      font-size: 23px;
    }
  }
  .icon__youtube,.icon__handsfree{
    display: none;
  }
}